/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// Begin theme styles

@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Cutive+Mono&family=Raleway+Dots&family=VT323&display=swap');

html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

Header{
  margin: 5rem;
}

main {
	padding: 2rem;
  max-width: 600px;
  font-family: 'Cutive Mono', monospace;
  margin: auto;
}

h1{
  padding-bottom: 1.5 rem;
  text-align: center;
  font-size: 400%;
  font-family: 'VT323', monospace;
}

svg{
  max-width: 1rem;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  color: #f2f2f2;
  text-align: center;    
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }



header div{
  border-color: lightgrey;
	border-radius: 4px;
	border-style: solid;
	text-align: center;
	padding: 4rem;
	width: auto;
	box-sizing: content-box;
}

section li {
	background: white;
	font-size: 2em;
	font-weight: bold;
	padding: 0.25em;
	border: 2px solid black;

}

